.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 15px 20px;
  }

  .logo img {
    height: 10px;
    width: 10%;
  }
  
  .footerLinks {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .footerLinks li {
    display: inline;
  }
  
  .footerLinks a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  
  .footerLinks a:hover {
    color: #dd0012;
  }